
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url('asset/portail.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
    background-color: black;
    font-family: 'Hanalei Fill', cursive;
    text-shadow: 0.1em 0.1em 0.2em #4a9c46;
    overflow: hidden;
}


#text {
    color: red;
    position: relative;
   
      
}

#text h1 {
   
    font-size: 90px;
    letter-spacing: 10px;
    font-weight: 1000;
    text-align: center;
}

#text h4 {
    margin-top: -30px;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
}


.portalgun {
    width: auto;
    height: 100%;
}

a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49vh;
    width: 90px;
    height: 90px;
}

.portalgun:hover {
    width: auto;
    height: 110px;
}