html {
    height: 100vh;
}

body {
    font-family: 'Creepster', cursive;
    background-image: url(images/portail.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100%;
    text-shadow: 0.1em 0.1em 0.2em #4a9c46;
    overflow: hidden;
}


.all {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.all .text {
   padding-top: 230px;
   color: red;
}

.all h1 {
    font-size: 100px;
    letter-spacing: 10px;
}

.all h3 {
    margin-top: 200px;
    font-size: 22px;
    letter-spacing: 1px;
}

.btn .portalgun {
    width: auto;
    height: 20%;
}


@media only screen and (min-width:429px) and (max-width:811px) {
    .all .text {
        padding-top: 180px;
     }
     
     .all h1 {
         font-size: 150px;
         letter-spacing: 10px;
     }
     
     .all h3 {
         margin-top: 320px;
         font-size: 40px;
         letter-spacing: 1px;
     }
}

@media only screen and (min-width:811px) {
    body {
        background-size: 60%;
    }

    .all .text {
        padding-top: 180px;
     }
     
     .all h1 {
         font-size: 150px;
         letter-spacing: 10px;
     }
     
     .all h3 {
         margin-top: 320px;
         font-size: 40px;
         letter-spacing: 1px;
     }
}